<div class="main-contents">
  <div class="time-line">
    <div class="contents">
      <div class="user-info">
        <%= render partial: "info", locals: { user: @user, followings: @followings, followers: @followers } %>
      </div>
      <% @posts.each do |post| %>
        <%= render partial: "posts/post", locals: { post: post } %>
      <% end %>
    </div>
    <div class="recommendation">
      <%= render partial: "posts/recommendation", locals: { recommendation_users: @recommendation_users } %>
    </div>
  </div>
</div>