<div class="main-contents">
  <div class="time-line">
    <div class="contents">
      <div class="user-info">
        <%= render partial: "info", locals: { user: @user, followings: @followings, followers: @followers } %>
      </div>
      <% if current_user == @user %>
        <% @user_posts.each do |post| %>
          <%= render partial: "posts/post", locals: { post: post } %>
        <% end %>
      <% elsif @posts.blank? %>
        <h4 class="title">24時間以内の投稿はありません。</h4>
      <% else %>
        <% @posts.each do |post| %>
          <%= render partial: "posts/post", locals: { post: post } %>
        <% end %>
      <% end %>
    </div>
    <div class="sub-contents">
      <%= render partial: "posts/recommendation", locals: { recommendation_users: @recommendation_users } %>
    </div>
  </div>
</div>