<div class="main-contents">
  <div class="edit-page">
    <div class="post-form">
      <h4 class="title">編集する</h3>
      <%= render partial: "form", locals: { post: @post } %>
    </div>
  </div>
</div>