html {
  font-size: 62.5%;
}

h1 {
  font-size: 80px;
}

h2 {
  font-size: 48px;
}

h3 {
  font-size: 36px;
}

h4 {
  font-size: 24px;
}

.b {
  font-weight: bold;
}

a {
  color: #CCCCCC;
  text-decoration: none;
}

body {
  font-family:"Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;
  color: #CCCCCC;
  font-size: 1.6rem;
}

.margin-l30 {
  margin-left: 30px;
}

.margin-r26 {
  margin-right: 26px;
}

.margin-r5 {
  margin-right: 5px;
}

.margin-r10 {
  margin-right: 10px;
}

/* エラー */

.error-alert {
  color: #FF7158;
  font-weight: bold;
  background-color: lightpink;
  padding: 13px;
  border: 1px solid #FF7158;
  border-radius: 5px;
  margin-bottom: 12px;
}

.new-box2 {
  width: 428px;
  height: 36px;
  margin-bottom: 12px;
  padding: 0 13px;
}

.new-box2::placeholder {
  color: red;
  background-color: lightpink;
  font-size: 1.4rem;
}

.profile-box-error {
  width: 428px;
  height: 45px;
  padding: 0 13px;
  background-color: #4D4D4D;
  color: #CCCCCC;
  border: none;
  border-radius: 5px;
}

.profile-box-error::placeholder {
  color: red;
  background-color: lightpink;
}

.field_with_errors {
  display: contents;
}

/* ログイン画面 */

.background {
  background-image: url(background_image.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
  display: flex;
}

.left-contents {
  width: 50%;
  padding: 33px 29px;
}

.catchphrase {
  font-weight: bold;
  color: #FFFFFF;
  line-height: 125%;
  text-shadow: 0 0 5px rgb(0 0 0 / 90%);
  width: 560px;
}

.right-contents {
  width: 50%;
  margin: 100px auto 0;
  position: relative;
}

.title-logo {
  text-align: center;
}

.container {
  background-color: #333333;
  width: 506px;
  padding: 46px 39px;
  margin: 66px auto 0;
}

.new-container {
  background-color: #333333;
  width: 506px;
  padding: 35px 39px;
  margin: 66px auto 0;
}

.box {
  width: 428px;
  height: 45px;
  margin-bottom: 12px;
  padding: 0 13px;
  border: none;
  border-radius: 5px;
}

.new-box {
  width: 428px;
  height: 36px;
  margin-bottom: 12px;
  padding: 0 13px;
  border: none;
  border-radius: 5px;
}

.login-btn {
  width: 428px;
  height: 45px;
  background-color: #61B6FF;
  color: #333333;
  letter-spacing: 0.1em;
  font-size: 1.8rem;
  font-weight: bold;
  border: none;
  margin: 30px 0 25px;
  cursor: pointer;
  border-radius: 5px;
}

.sign-in-btn {
  width: 428px;
  height: 36px;
  background-color: #FF7158;
  color: #333333;
  letter-spacing: 0.1em;
  font-size: 1.8rem;
  font-weight: bold;
  border: none;
  margin-top: 10px;
  cursor: pointer;
  border-radius: 5px;
}

.registration a {
  width: 428px;
  height: 45px;
  background-color: #FF7158;
  color: #333333;
  letter-spacing: 0.1em;
  text-decoration: none;
  font-size: 1.8rem;
  font-weight: bold;
  padding: 14px 115px;
  border-radius: 5px;
}

.footer {
  font-size: 2rem;
  color: #808080;
  position: absolute;
  top: 92%;
  left: 50%;
  transform: translate(-50%, -10%);
}

/* タイムライン */

.wrapper {
  width: 100vw;
  height: 100vh;
  background-color: black;
  overflow: scroll;
}

.header {
  background-color: #333333;
  width: 100vw;
  height: 66px;
  display: flex;
  justify-content: center;
  position: fixed;
  z-index: 100;
}

.header-contents {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1026px;
}

.left-header {
  width: 666px;
  padding: 0 13px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  width: 186px;
  height: 41px;
  margin-top: 8px;
}

.search-input {
  width: 290px;
  height: 30px;
  background-color: #999999;
  border: none;
  border-radius: 5px;
  padding: 0 10px;
}

.right-header {
  width: 360px;
  padding: 0 13px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user-nav {
  display: flex;
  align-items: center;
}

.setting {
  font-size: 2rem;
  margin-left: 13px;
}

.new-post {
  font-size: 4.5rem;
}

.right-area-content {
  padding: 0 13px;
}

.main-contents {
  display: flex;
  justify-content: center;
  padding-top: 109px;
}

.time-line {
  width: 1026px;
  display: flex;
  justify-content: space-between;
}

.upper-content {
  height: 70px;
  display: flex;
  justify-content: space-between;
}

.follow-upper-content {
  height: 50px;
  display: flex;
  justify-content: space-between;
}

.user-area {
  display: flex;
}

.user-icon {
  margin-right: 10px;
}

.icon {
  width: 44px;
  height: 44px;
  border-radius: 50%;
}

.time-ago-in-words-red {
  color: #FF7158;
}

.time-ago-in-words-black {
  color: black;
}

.leader {
  height: 25px;
}

.leader:hover ul.leader_list {
  display: block;
}

.leader ul.leader_list {
  display: none;
  position: absolute;
  right: 0px;
  width: 50px;
  background-color: #4D4D4D;
  border-radius: 5px;
  text-align: center;
  padding: 3px;
}

.leader ul.leader_list li a {
  padding: 5px;
  border-radius: 5px;
}

.leader ul.leader_list li a:hover {
  background-color: #333333;
}

.content {
  width: 666px;
  background-color: #333333;
  padding: 13px;
  margin-bottom: 30px;
  position: relative;
}

.follow-content {
  margin-bottom: 26px;
}

.content-post {
  margin-bottom: 20px;
}

footer {
  display: none;
}

/* ユーザーページ */

.detailed-content {
  background-color: #333333;
  padding: 26px;
  width: 1026px;
  margin-bottom: 30px;
  position: relative;
}

.detailed-content_post {
  font-size: 1.8rem;
  margin-bottom: 20px;
}

.user-info {
  background-color: #333333;
  width: 666px;
  margin-bottom: 30px;
  padding: 13px;
}

.user-area2 {
  display: flex;
}

.user-icon2 {
  margin-right: 13px;
}

.icon2 {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.user-name2 {
  font-size: 3.2rem;
  
}

.user-account {
  font-size: 2rem;
}

.user-upper-content {
  height: 133px;
  display: flex;
  justify-content: space-between;
}

.follow-counts {
  display: flex;
}

.follower-count {
  margin-left: 26px;
}

.follow-btn {
  width: 144px;
  height: 46px;
  border-radius: 23px;
  font-size: 2rem;
  font-weight: bold;
  color: #333333;
  background-color: #CCCCCC;
  display: grid;
  place-items: center;
  margin-top: 52px;
}

.following-btn {
  width: 144px;
  height: 46px;
  border-radius: 23px;
  font-size: 2rem;
  font-weight: bold;
  color: #CCCCCC;
  background-color: #333333;
  border: 1px solid #CCCCCC;
  display: grid;
  place-items: center;
  margin-top: 52px;
}

.logout a {
  width: 144px;
  height: 46px;
  border-radius: 23px;
  font-size: 2rem;
  font-weight: bold;
  color: #333333;
  background-color: #FF7158;
  display: grid;
  place-items: center;
  margin-top: 52px;
}

.follow-user-profile {
  font-size: 1.5rem;
}

/* 画像・リアクション */

.post-image-field {
  text-align: center;
  margin-top: 10px;
}

.reaction-icon {
  font-size: 2rem;
}

.like {
  display: flex;
}

.likes-count {
  position: relative;
}

.likes-count ul {
  position: absolute;
  width: 100px;
  display: none;
  text-align: left;
  background-color: #4D4D4D;
  padding: 10px;
  font-size: 1.3rem;
  border-radius: 5px;
  z-index: 90;
}

.likes-count:hover ul {
  display: block;
}

.likes-lists li {
  width: auto;
}

/* おすすめ */

.sub-contents {
  width: 333px;
}

.recommendation {
  background-color: #333333;
  height: 333px;
  padding: 13px;
}

.upper-recommendation {
  display: flex;
  justify-content: space-between;
  margin-bottom: 13px;
}

.recommend {
  color: #808080;
}

.recommendation-upper-content {
  margin-bottom: 6px;
}

.recommendation-user-name {
  margin-top: 10px;
}

.mini-footer {
  text-align: center;
  margin-top: 13px;
  color: #333333;
  font-size: 1.3rem;
}

.centering {
  justify-content: center;
}

/* 投稿 */

.post-form {
  width: 666px;
  background-color: #333333;
  padding: 10px 30px;
  margin-bottom: 30px;
}

.text-field {
  background-color: #4D4D4D;
  color: #CCCCCC;
  width: 100%;
  padding: 13px;
  border: none;
  border-radius: 5px;
}

.image-area {
  display: flex;
}

.image-file {
  background-color: #CCCCCC;
  color: #333333;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  margin-right: 10px;
  cursor: pointer;
}

.hidden {
  display: none;
}

.preview-size {
  width: 175px;
  height: auto;
}

.send-btn {
  width: 100px;
  height: 30px;
  background-color: #CCCCCC;
  color: #333333;
  border: none;
  display: block;
  margin: 10px auto;
  cursor: pointer;
  font-weight: bold;
  border-radius: 5px;
}

.title {
  text-align: center;
  margin: 10px 0 20px;
}

.edit-page {
  width: 1026px;
  display: flex;
  justify-content: center;
}

.row {
  padding-top: 66px;
}

/* コメント */

.reaction {
  display: flex;
  align-items: center;
}

.reaction-area {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.form {
  display: flex;
}

.comment-form {
  width: 682px;
  height: 37px;
  background-color: #4D4D4D;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  color: #CCCCCC;
  font-size: 18px;
}

.btn {
  font-weight: bold;
  padding: 0 5px;
  margin-left: 13px;
  background-color: #CCCCCC;
  color: #333333;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.comment-area {
  display: flex;
  margin-top: 29px;
}

.comment {
  background-color: #4D4D4D;
  padding: 10px 13px;
  border-radius: 13px;
  width: fit-content;
}

/* プロフィール編集 */

.profile-edit {
  background-color: #333333;
  padding: 50px 200px;
  width: 1026px;
  display: flex;
  justify-content: center;
}

.profile-image-edit {
  display: flex;
  align-items: center;
  justify-content: center;
}

.edit-user-icon {
  margin-right: 10px;
  display: flex;
  align-items: center;
}

.edit-icon {
  width: 44px;
  height: 44px;
  border-radius: 50%;
}

.upper-profile-area {
  margin-left: 20px;
}

.profile-account {
  font-size: 2rem;
}

.icon-file {
  cursor: pointer;
}

.user-form {
  margin-top: 50px;
}

.profile-box {
  width: 428px;
  height: 45px;
  padding: 0 13px;
  background-color: #4D4D4D;
  color: #CCCCCC;
  border: none;
  border-radius: 5px;
}

.profile-box2 {
  width: 428px;
  height: 150px;
  padding: 10px 13px;
  background-color: #4D4D4D;
  color: #CCCCCC;
  border: none;
  border-radius: 5px;
}

.actions {
  text-align: right;
}

.save-btn {
  height: 37px;
  width: 90px;
}

.field {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 26px;
}

.password-change {
  font-size: 1.4rem;
  margin-left: 90px;
}

/* タブレット表示時 */
@media (max-width: 1024px) {

  .background {
    background-image: url(background_image_tb.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: block;
  }

  .left-contents {
    padding: 33px 29px 0;
    width: 100%;
  }

  .title-logo img{
    text-align: center;
    width: 80%;
    height: 80%;
  }

  .catchphrase {
    font-weight: bold;
    color: #FFFFFF;
    text-shadow: 0 0 5px rgb(0 0 0 / 90%);
    font-size: 4rem;
    width: 100%;
    text-align: center;
    margin-top: 30px;
  }

  .right-contents {
    margin: 40px auto 0;
    width: 100%;
  }

  .container {
    background-color: #333333;
    width: 506px;
    padding: 46px 39px;
    margin: 66px auto 0;
  }

  .footer {
    font-size: 2rem;
    color: #808080;
    position: absolute;
    top: 135%;
    left: 50%;
    transform: translate(-50%, -10%);
  }
  
  .header-contents {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
  }

  .left-header {
    width: 75%;
    padding: 0 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .search-input {
    width: 100%;
    height: 30px;
    background-color: #999999;
    border: none;
    border-radius: 5px;
    padding: 0 10px;
  }

  .right-header {
    width: 50%;
    padding: 0 10px;
    margin-left: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .time-line {
    width: 90%;
    display: flex;
    justify-content: space-between;
  }

  .contents {
    width: 75%;
  }

  .content {
    width: 100%;
    background-color: #333333;
    padding: 13px;
    margin-bottom: 30px;
    position: relative;
  }

  .upper-content {
    height: 55px;
    display: flex;
    justify-content: space-between;
  }

  .post-image-field {
    text-align: center;
    margin-top: 10px;
  }

  .post-image-field img {
    max-width: 100%;
  }

  .sub-contents {
    width: 23%;
  }

  .recommendation {
    background-color: #333333;
    height: 333px;
    padding: 13px;
    font-size: 1.3rem;
  }

  .upper-recommendation {
    display: flex;
    justify-content: space-between;
    margin-bottom: 13px;
  }

  .recommendation-user-name {
    margin-top: 13px;
  }

  .mini-footer {
    text-align: center;
    margin-top: 13px;
    color: #333333;
    font-size: 1rem;
  }
}

/* スマホ表示時 */
@media (max-width: 599px) {

  .error-alert {
    color: #FF7158;
    font-weight: bold;
    background-color: lightpink;
    padding: 13px;
    border: 1px solid #FF7158;
    border-radius: 5px;
    margin-bottom: 12px;
    font-size: 1.2rem;
  }

  .background {
    background-image: url(background_image_sp.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: block;
  }

  .title-logo img{
    text-align: center;
    width: 75%;
    height: 75%;
  }

  .catchphrase {
    font-weight: bold;
    color: #FFFFFF;
    text-shadow: 0 0 5px rgb(0 0 0 / 90%);
    font-size: 2rem;
    width: 100%;
    text-align: center;
    margin-top: 30px;
  }

  .right-contents {
    margin: 20px auto 0;
    width: 100%;
  }

  .container {
    background-color: #333333;
    width: 300px;
    padding: 40px 35px;
    margin: 66px auto 0;
  }

  .new-container {
    background-color: #333333;
    width: 300px;
    padding: 35px 35px;
    margin: 66px auto 0;
    font-size: 1.2rem;
  }

  .box {
    width: 230px;
    height: 35px;
    margin-bottom: 12px;
    padding: 0 10px;
    border: none;
    border-radius: 5px;
  }

  .new-box {
    width: 230px;
    height: 30px;
    margin-bottom: 12px;
    padding: 0 10px;
    border: none;
    border-radius: 5px;
  }

  .new-box2 {
    width: 230px;
    height: 30px;
    margin-bottom: 12px;
    padding: 0 10px;
  }

  .new-box2::placeholder {
    color: red;
    background-color: lightpink;
    font-size: 1.2rem;
  }

  .login-btn {
    width: 230px;
    height: 45px;
    background-color: #61B6FF;
    color: #333333;
    letter-spacing: 0.1em;
    font-size: 1.8rem;
    font-weight: bold;
    border: none;
    margin: 30px 0 25px;
    cursor: pointer;
    border-radius: 5px;
  }

  .sign-in-btn {
    width: 230px;
    height: 36px;
    background-color: #FF7158;
    color: #333333;
    letter-spacing: 0.1em;
    font-weight: bold;
    border: none;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 5px;
  }

  .registration a {
    width: 230px;
    height: 45px;
    background-color: #FF7158;
    border-radius: 5px;
    padding: 15px 16px;
    font-weight: bold;
  }

  .footer {
    font-size: 0.8rem;
    color: #808080;
    position: absolute;
    top: 110%;
    left: 50%;
    transform: translate(-50%, -10%);
  }

  .header {
    background-color: #333333;
    width: 100vw;
    height: 40px;
    display: flex;
    justify-content: center;
    position: fixed;
    z-index: 100;
  }

  .left-header .search-form {
    display: none;
  }

  .logo {
    width: 80%;
    height: 80%;
    margin-top: 8px;
  }

  .right-header .new-post-icon {
    display: none;
  }

  footer {
    background-color: #333333;
    width: 100vw;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px;
    position: absolute;
    bottom: 0;
    z-index: 100;
  }

  footer .search-input {
    width: 290px;
    height: 25px;
    background-color: #999999;
    border: none;
    border-radius: 5px;
    padding: 0 10px;
  }

  footer .new-post {
    font-size: 30px;
  }

  .main-contents {
    display: flex;
    justify-content: center;
    padding-top: 60px;
  }

  .contents {
    width: 100%;
  }

  .content {
    width: 100%;
    background-color: #333333;
    padding: 13px;
    margin-bottom: 15px;
    position: relative;
  }

  .content-post {
    margin-bottom: 8px;
  }

  .sub-contents {
    display: none;
  }
}