h1 {
  font-size: 80px;
}

h2 {
  font-size: 48px;
}

h3 {
  font-size: 36px;
}

h4 {
  font-size: 24px;
}

span {
  font-weight: bold;
}

a {
  color: #CCCCCC;
  text-decoration: none;
}

body {
  font-family:"Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;
  color: #CCCCCC;
  font-size: 16px;
}

.margin-l30 {
  margin-left: 30px;
}

/* ログイン画面 */

.background {
  background-image: url(background_image.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  display: flex;
}

.left-contents {
  width: 50%;
  padding: 33px 29px;
}

.catchphrase {
  font-weight: bold;
  color: #FFFFFF;
  line-height: 125%;
  text-shadow: 0 0 5px rgb(0 0 0 / 90%);
}

.right-contents {
  width: 50%;
  margin: 100px auto 0;
}

.title-logo {
  text-align: center;
}

.container {
  background-color: #333333;
  width: 506px;
  height: 440px;
  border-radius: 29px;
  padding: 46px 39px;
  margin: 66px auto 100px;
}

.new-container {
  background-color: #333333;
  width: 506px;
  height: 465px;
  border-radius: 29px;
  padding: 25px 39px;
  margin: 66px auto 75px;
}

.box {
  width: 428px;
  height: 45px;
  margin-bottom: 12px;
  padding: 0 5px;
}

.new-box {
  width: 428px;
  height: 36px;
  margin-bottom: 12px;
  padding: 0 5px;
}

.log-in-btn {
  width: 428px;
  height: 45px;
  background-color: #61B6FF;
  color: #333333;
  letter-spacing: 0.1em;
  font-size: 18px;
  font-weight: bold;
  border: none;
  margin: 30px 0 25px;
  cursor: pointer;
}

.sign-in-btn {
  width: 428px;
  height: 36px;
  background-color: #FF7158;
  color: #333333;
  letter-spacing: 0.1em;
  font-size: 18px;
  font-weight: bold;
  border: none;
  margin-top: 10px;
  cursor: pointer;
}

.registration a {
  width: 428px;
  height: 45px;
  background-color: #FF7158;
  color: #333333;
  letter-spacing: 0.1em;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  padding: 14px 115px;
}

.footer {
  font-size: 20px;
  color: #808080;
  text-align: center;
  display: block;
}

/* タイムライン */

.wrapper {
  width: 100vw;
  height: 100vh;
  background-color: black;
  overflow: scroll;
}

.header {
  background-color: #333333;
  width: 100vw;
  height: 66px;
  display: flex;
  justify-content: center;
  position: fixed;
}

.header-contents {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1026px;
}

.left-header {
  width: 666px;
  padding: 0 13px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  width: 186px;
  height: 41px;
  margin-top: 8px;
}

.search-input {
  width: 290px;
  height: 30px;
  background-color: #999999;
  border: none;
  padding: 0 8px;
}

.right-header {
  width: 360px;
  padding: 0 13px;
}

.user-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.setting {
  font-size: 20px;
}

.new-post {
  font-size: 45px;
}

.right-area-content {
  padding: 0 13px;
}

.main-contents {
  display: flex;
  justify-content: center;
  padding-top: 109px;
}

.time-line {
  width: 1026px;
  display: flex;
  justify-content: space-between;
}

.recommendation-users {
  background-color: #333333;
  width: 333px;
  height: 333px;
}

.mini-footer {
  text-align: center;
  margin-top: 13px;
  color: #333333;
  font-size: 13px;
}

.upper-content {
  height: 70px;
  display: flex;
  justify-content: space-between;
}

.user-area {
  display: flex;
}

.user-icon {
  width: 44px;
  height: 44px;
}

.more {
}

.content {
  width: 666px;
  background-color: #333333;
  padding: 13px;
  margin-bottom: 30px;
}

.detailed-content {
  background-color: #333333;
  padding: 13px;
  width: 1026px;
  margin-bottom: 30px;
}

.detailed-content_post {
  font-size: 18px;
  margin-bottom: 20px;
}

.user-info {
  background-color: #333333;
  width: 666px;
  margin-bottom: 30px;
  padding: 13px;
}

.user-area2 {
  display: flex;
}

.user-icon2 {
  width: 107px;
  height: 107px;
}

.user-name2 {
  font-size: 2em;
  
}

.user-account {
  font-size: 20px;
}

.user-upper-content {
  height: 133px;
  display: flex;
  justify-content: space-between;
}

.follow-btn {
  width: 144px;
  height: 46px;
  border-radius: 23px;
  font-size: 20px;
  font-weight: bold;
  color: #333333;
  background-color: #CCCCCC;
  display: grid;
  place-items: center;
  margin-top: 52px;
}

.post-image-field {
  text-align:center
}

.post-image {
  margin-top: 13px;
}

/* 投稿 */

.post-form {
  width: 666px;
  background-color: #333333;
  padding: 10px 30px;
}

.text-field {
  margin-top: 20px;
  width: 100%;
  padding: 13px;
}

.form-image {
  background-color: #CCCCCC;
  color: #333333;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

.hidden {
  display: none;
}

.send-btn {
  width: 100px;
  height: 30px;
  background-color: #CCCCCC;
  color: #333333;
  border: none;
  display: block;
  margin: 10px auto;
  cursor: pointer;
  font-weight: bold;
}

.title {
  text-align: center;
  margin-top: 10px;
}

.edit-page {
  width: 1026px;
  display: flex;
  justify-content: center;
}

.row {
  padding-top: 66px;
}

/* コメント */

.reaction {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.reaction-btn {
  display: flex;
}

.form {
  display: flex;
}

.comment-form {
  width: 682px;
  height: 37px;
  background-color: #4D4D4D;
  border: none;
  padding: 5px 10px;
  color: #CCCCCC;
  font-size: 18px;
}

.btn {
  font-weight: bold;
  padding: 0 5px;
  margin-left: 13px;
  background-color: #CCCCCC;
  color: #333333;
  border: none;
  cursor: pointer;
}

.comment-area {
  display: flex;
  margin-top: 29px;
}

.comment {
  background-color: #4D4D4D;
  padding: 5px 10px;
  border-radius: 13px;
  width: fit-content;
}

/* プロフィール編集 */

.profile-edit {
  background-color: #333333;
  padding: 50px 200px;
  width: 1026px;
}

.profile-image-edit {
  display: flex;
  align-items: center;
  justify-content: center;
}

.upper-profile-area {
  margin-left: 40px;
}

.profile-account {
  font-size: 20px;
}

.user-form {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

.profile-box {
  width: 428px;
  height: 45px;
  padding: 0 5px;
}

.profile-box2 {
  width: 428px;
  height: 90px;
  padding: 0 5px;
}

.actions {
  text-align: right;
}

.save-btn {
  height: 37px;
  width: 90px;
}

.field {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 26px;
}

.password-change {
  font-size: 14px;
  padding-left: 70px;
}